<div class="extract extract_hello">
	<div class="hello">
		HELLO WORLD I AM NIHAD


		<img 
			src-desktop="https://res.cloudinary.com/keystone-demo/image/upload/v1464700359/fszchzu9qifjluimbph7.jpg" />
		<img 
			src-desktop="http://res.cloudinary.com/keystone-demo/image/upload/tqym5lznfisnr5sktyd0.jpg" />
		<img 
			src-desktop="http://res.cloudinary.com/keystone-demo/image/upload/yfyeqx8551uxp7jkpwnk.jpg" />

	</div>
</div>