<div class="extract extract_hello">
	<div class="hello">
		<div id="hello_output" viewing="">
			<div class="nihad">
				<img
					src-desktop="/img/png/hello_nihad.png" />
			</div>
			<div class="mike">
				<img
					src-desktop="/img/png/m001-02.png" />
				
			</div>
			
		</div>

		<div id="hello_terminal">
			
		</div>

		<input type="text" id="hello_input" />
		<div class="hello_cursor"></div>
	</div>
</div>