<ul class="pagination">
	<li {{#unless data.projects.previous}}class="disabled"{{/unless}}>
		<a href="{{paginationPreviousUrl data.projects.previous}}">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
	</li>
	{{{paginationNavigation data.projects.pages data.projects.currentPage data.projects.totalPages}}}
	<li {{#unless data.projects.next}}class="disabled"{{/unless}}>
		<a href="{{paginationNextUrl data.projects.next data.projects.totalPages}}">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</li>
</ul>
