// Fonts
//==================================================================
@standard: 				yantramanav_regularregular, Helvetica, Arial, sans-serif;
@bold: 					yantramanavmedium, Helvetica, Arial, sans-serif;
@code: 					silkscreennormal, Courier, monospace;
@code_bold: 			silkscreenbold, Courier, monospace;

@light: 				300;
@book: 				    500;

@base-font-size: 		16px;
@base-line-height: 		1.3333333333em;


// Commonly used tropes
//==================================================================
@eio: 					~'ease-in-out';


// Breakpoints
//==================================================================
@desktop-max: 			~'screen and (max-width: @{screen-md-max})';
@tablet-max: 			~'screen and (max-width: @{screen-sm-max})';
@mobile-max: 			~'screen and (max-width: @{screen-xs-max})';
@desktop-min: 			~'screen and (min-width: @{screen-lg})';
@tablet-min: 			~'screen and (min-width: @{screen-md})';	
@mobile-min: 			~'screen and (min-width: @{screen-sm})';

@full_min: ~'screen and (min-width: 640px)';
@full_max: ~'screen and (max-width: 640px)';

// Colors
//==================================================================
@color-copy:          	#444;
@color-copy-contrast: 	#fff;



@color-dark: 			#000;
@color-dark-accent: 	#111;
@color-light: 			#fff;
@color-light-accent: 	#eee;

@color-cyan: 			#0ff;
@color-magenta: 		#f0f;
@color-yellow: 			#ff0;

@color-red: 			#f00;
@color-green: 			#0f0;
@color-blue: 			#00f;



// @color-background:    	#fff;
@color-brand:         	#7DC3FF;
@color-error:         	#f00;
@color-rule:          	#444;

// Spaces
//==================================================================

@height_header: 		60px;
@height_footer: 		30px;
@width_sidebar: 		250px;
@space_large:   		50px;
@space_medium:  		25px;
@space_small:   		10px;

@navigation_width: 		320px;
@touchable: 			48px;
@iconable: 				16px;
@margin: 				16px;

@spritesheetWidth: 		3;

// @navigation_split: 		20%;






