#gentle{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;

	.markers{
		position: absolute;
		height: @touchable;
		top: @touchable;
		width: 100%;
		text-align: center;
		right: 0;
		z-index: 2;

		.present &{
			transition: all .4s ease;
		}

		@media @full_min{
			top: 0;
			width: ~'calc(100% - 48px)';
		}

		.navigation_open &{
			@media @full_min{
				width: ~'calc(100% - @{navigation_width})';
			}
		}

		span{
			height: @touchable;
			width: 30px;
			position: relative;
			display: inline-block;

			&:before{
				content:'';
				position: absolute;
				top: 50%;
				left: 50%;
				border-radius: 50%;
				height: 6px;
				width: 6px;
				border: 1px solid white;
				margin: -3px 0 0 -3px;
			}

			&.current:before{
				background-color: white;
			}
		}
	}

	.pages{
		.fillblock;

		.page{
			.fillblock;

			visibility: hidden;
			opacity: 0;
			overflow: hidden;
			backface-visibility: hidden;
			transform: translate3d(0, 0, 0);
			transform-style: preserve-3d;
			z-index: 0;

			.page_loader, 
			.page_image{
				.fillblock;
				transition: all 1s ease;
			}

			.page_loader{
				z-index: 1;
				background-color: @color-light;
				display: table;
				overflow: hidden;
				transform: translateX(100%);

				.page_loader_exterior{
					.fillblock;
					transform: translateX(-100%);
					transition: all 1s ease;
					display: table;

					.page_loader_interior{
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
						display: table-cell;
						vertical-align: middle;

						.sk-folding-cube .sk-cube:before{
							background-color: #444;
						}
					}
				}

			}

			.page_image{
				z-index: 0;
				background-size: cover;
				background-position: center center;
			}

			&.loading{
				.page_loader{
					transform: translateX(0);

					.page_loader_exterior{
						transform: translateX(0);
					}
				}
			}

			&.entering{
				animation: moveFromRight 1000ms ease both;
			}

			&.leaving{
				animation: moveToLeft 1200ms ease both;
			}

			&.current{
				z-index: 1;
			}

			&.entering,
			&.leaving,
			&.current{
				visibility: visible;
				opacity: 1;

				.page_image{
					visibility: visible;
					opacity: 1;
				}
			}
			
		}
	}

	.goto{
		z-index: 2;
		position: absolute;
		height: 32 * 3px;
		max-width: 100%;
		width: 100%;
		bottom: 0;
		right: 0;
		cursor: pointer;
		transform: translateY(0);

		.present &{
			transition: max-width .4s ease, transform .6s ease;
		}

		.loading &,
		.landed &{
			transform: translateY(-100vh);
		}

		@media @full_min {
			max-width: @navigation_width;
		}

		& > div{
			position: absolute;
		}

		.goto_text{
			height: 32px;
			width: 100%;
			top: 0;
			left: 0;
			background-color: white;

			p{
				line-height: 34px;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 3px;
				font-size: 12px;
				margin: 0;
			}
		}

		.goto_gradient_1{
			height: 32px;
			width: ~'calc(100% - 64px)';
			top: 32px;
			left: 0;

			i{
				display: block;
				position: relative;
				float: left;
				top: 0;
				width: 100 / 8%;
				min-width: 32px;
				height: 32px;

				&:nth-of-type(1){ background-color: #e2e2e2; }
				&:nth-of-type(2){ background-color: #c2c2c2; }
				&:nth-of-type(3){ background-color: #a2a2a2; }
				&:nth-of-type(4){ background-color: #828282; }
				&:nth-of-type(5){ background-color: #626262; }
				&:nth-of-type(6){ background-color: #424242; }
				&:nth-of-type(7){ background-color: #222222; }
				&:nth-of-type(8){ background-color: #101010; }
			}
		}

		.goto_gradient_2{
			height: 32px;
			width: ~'calc(100% - 64px)';
			top: 64px;
			left: 0;

			& > div{
				position: relative;
				float: left;
				width: 25%;
				height: 100%;

				i{
					position: relative;
					float: left;
					height: 100%;

					&:nth-of-type(odd){
						background-color: white;
					}

					&:nth-of-type(even){
						background-color: black;
					}
				}
			}

			.goto_gradient_2_1 i{
				width: 100 / 64%;
				min-width: 1px;
			}
			.goto_gradient_2_2 i{
				width: 100 / 32%;
				min-width: 2px;
			}
			.goto_gradient_2_3 i{
				width: 100 / 16%;
				min-width: 4px;
			}
			.goto_gradient_2_4 i{
				width: 100 / 8%;
				min-width: 8px;
			}
		}

		.animator(0, goto_arrow);

		.goto_arrow{
			.nav_icon();
			position: absolute;
			bottom: 0;
			right: 0;
			height: 64px;
			width: 64px;
			background-color: black;					

			&:before{
				.icon(1, 1, @iconable);
			}
		}
	}
}

